{% include 'header.twig' %}
{% include 'nav.twig' %}

<div class="container">

    <div class="container">
        {% if error %}
            <div class="alert alert-warning">
                {{ error }}
            </div>
        {% endif %}

        {% if message %}
            {% if success %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% elseif success == false %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endif %}
        {% endif %}
    </div>


    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Beitrag erstellen</h3>

            <form id="image-form" action="/chronik" method="post" enctype="multipart/form-data" id="pictureForm">
                <input id="image" type="file" name="image" style="display: none"/>
                <input id="text" type="text" name="text" placeholder="Beschreibe dein Katzenfoto"/>
                <button id="image-share" class="btn btn-primary">Auswählen und Teilen</button>
            </form>
        </div>
    </div>

    POSTS VON USER HIER ANZEIGEN

    {% for cat in cats %}

        <div class="card col-md-6 offset-md-3">
            <img class="card-img-top" src="/{{ cat.file }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ cat.user }}</h5>
                <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->                
                <p class="card-text">{{ cat.text }}</p>
                
                <div class="row" id="buttons">
                    <div class="span6">
                        <form  method="post" id="edit_form">
                            <div class="form-group"> 
                                <input type="hidden" id="id_edit" name="id" value="{{ cat.id }}">
                                <button id="edit" class="card-link">Edit</a>
                            </div>
                        </form>
                    </div>
                    <div class="span6" action="/deletePost">
                        <form method="post" action="/deletePost">
                            <div class="form-group">
                                <input type="hidden" id="id" name="id" value="{{ cat.id }}">
                                <button type="submit" id="delete" class="card-link">Delete</a>
                            </div>
                        </form>
                    </div>
                </div>

                
            </div>
        </div>

    {% endfor %}

    <script>
        let image = document.querySelector("#image");
        let imageShare = document.querySelector("#image-share");
        let imageForm = document.querySelector("#image-form");

        imageShare.addEventListener('click', function(e) {
            e.preventDefault();
            image.click();
        });
        image.addEventListener('change', function() {
            imageForm.submit();
        })
    </script>
</div>

<script>

    var input = document.getElementById("id_edit");
    var btn = document.getElementById("edit");
    var form = document.getElementById("edit_form");

    btn.addEventListener('click', function() {
        newInput = document.createElement('input');
        newInput.className = "mb-2"
        newInput.type = "text";
        newInput.name = "text";
        newInput.setAttribute("form","messageForm");
        input.parentNode.insertBefore(newInput, input);

        btn.innerHTML = "Speichern";
        form.action = "/editPost";
    });

</script>

 
<div>

</div>

{% include 'footer.twig' %}
