{% include 'header.twig' %}
{% include 'nav.twig' %}



<img id="logo" class="logo col-md-2" src="../images/cat_icon/kitty_whiteKontur.png" alt="Logo CATalog">
<div id="start" class="container">

    {% for cat in cats %}

        <div class="post card col-md-6 offset-md-3">
            <img class="card-img-top" src="/{{ cat.file }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ cat.user }}</h5>
                <!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
                <p class="card-text">{{ cat.text }}</p>

                <div class="row" id="buttons">
                    <div class="col-md-12 offset-md-0">
                        <form  method="post" action="/editPost">
                            
                                
                                <input type="hidden" id="id" name="id" value="{{ cat.id }}">
                                <input id="text-beschreibung-edit" class="col-md-12" type="text" name="text" value="{{ cat.text }}"/>
                                <button class="btn btn-primary offset-md-7" type="submit" id="edit" >Save</button>
                             
                            
                        </form>
                    </div>
                </div>


            </div>
        </div>

    {% endfor %}


{% include 'footer.twig' %}