{% include 'header.twig' %}
{% include 'nav.twig' %}

<img id="logo" class="logo col-md-2" src="../images/cat_icon/kitty_whiteKontur.png" alt="Logo CATalog">
<div id="start" class="container col-md-6 offset-md-3">

    <b> {{ sesid }} </b>

    <form class="form-horizontal" method="post" action="/update" >


            <!-- Form Name -->
            <legend><h1>{{ username }}`s Profil</h1></legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="textinput">Username:</label>
                <div>
                    <input id="username" name="username" type="text" value="{{ username }}" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="textinput">Vorname:</label>
                <div>
                    <input id="firstName" name="firstName" type="text" value="{{ firstname }}" placeholder="Vorname aendern" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="textinput">Nachname:</label>
                <div>
                    <input id="lastName" name="lastName" type="text" value="{{ lastname }}"placeholder="Nachname aendern" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="control-label" for="textinput">E-Mail:</label>
                <div>
                    <input id="email" name="email" type="text" value="{{ email }}" placeholder="E-Mail aendern" class="form-control input-md">

                </div>
            </div>

            <!--br>
            <b>Passwort aendern</b>
            <br>
            <br>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Neues Password</label>
                <div class="col-md-4">
                    <input id="password" name="password" type="password" placeholder="Passwort" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">neues Passwort nochmal</label>
                <div class="col-md-4">
                    <input id="passwordRepeat" name="passwordRepeat" type="password" placeholder="Passwort nochmal" class="form-control input-md">

                </div>
            </div-->

            <div class="form-group">
                <div class="col-md-8">
                     <button id="btnsave" name="btnsave" class="btn btn-success" type="submit">Speichern</button>
                    <a href="/profile"> <button id="btncancel" name="btncancel" class="btn btn-danger">Nicht Speichern</button> </a>
                </div>
            </div>

        {% if updateError %}
            <br>
            <p class="text-danger">{{updateError}}</p>
        {% endif %}


    </form>

    <form action="/update-p" method="POST">
            <b>Passwort &auml;ndern</b>
            <br>
            <br>

            <div class="form-group">
                <label class="control-label" for="textinput">Altes Password</label>
                <div>
                    <input id="password" name="oldPw" type="password" placeholder="Passwort" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="textinput">Neues Password</label>
                <div>
                    <input id="password" name="newPw" type="password" placeholder="Passwort" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="textinput">Neues Passwort nochmal</label>
                <div>
                    <input id="passwordRepeat" name="repeatPw" type="password" placeholder="Passwort nochmal" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">
                     <button id="btnsave" name="btnsave" class="btn btn-success" type="submit">Speichern</button>
                    <a href="/profile"> <button id="btncancel" name="btncancel" class="btn btn-danger">Nicht Speichern</button> </a>
                </div>
            </div>
    </form>


</div>

{% include 'footer.twig' %}