{% include 'header.twig' %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <a href="/logout">
                <div class="btn btn-secondary float-right m-2">Logout</div>
            </a>
            <a href="/profile">
                <div class="btn btn-secondary float-right m-2">Mein Konto</div>
            </a>
            <a href="/newsletter">
                <div class="btn btn-secondary float-right m-2">Cataletter</div>
            </a>
            <a href="/dashboard">
                <div class="btn btn-secondary float-right m-2">Dashboard</div>
            </a>
            <a href="/rechronik">
                <div class="btn btn-secondary float-right m-2">Chronik</div>
            </a>
        </div>
    </div>

    <form class="form-horizontal">


            <!-- Form Name -->
            <legend>{{ username }}`s Profile</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Username: {{ username }}</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Username aendern" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Vorname: {{ firstname }}</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Vorname aendern" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nachname: {{ lastname }}</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Nachname aendern" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">E-Mail: {{ email }}</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="E-Mail aendern" class="form-control input-md">

                </div>
            </div>

            <br>
            <b>Passwort aendern</b>
            <br>
            <br>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Neues Password</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Passwort" class="form-control input-md">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">neues Passwort nochmal</label>
                <div class="col-md-4">
                    <input id="textinput" name="textinput" type="text" placeholder="Passwort nochmal" class="form-control input-md">

                </div>
            </div>


            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="btnsave">Save Changes</label>
                <div class="col-md-8">
                   <a href="/update"> <button id="btnsave" name="btnsave" class="btn btn-success">Speichern</button></a>
                    <a href="/profile"> <button id="btncancel" name="btncancel" class="btn btn-danger">Nicht Speichern</button></a>
                </div>
            </div>


    </form>


</div>

{% include 'footer.twig' %}